@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body  {
  font-family: 'Open Sans', sans-serif !important;
}

/* Apply styles to the div */
.scrollable-div {
    max-height: 30vh; /* Set the maximum height to 5vh (5% of viewport height) */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

#sidebar {min-width: 20vw; transition: width 0.3s ease-in-out; /* Smooth transition for width */}
.accordion-body {padding:0px}

.badge-Event {background-color:#A1CCD1}
.badge-Symbol, .badge-NaturalElement {background-color:#F4F2DE}
.badge-Place, .badge-Action {background-color:#E9B384}

/* Custom style for the checked checkbox label */
input[type="checkbox"]:checked {
    accent-color: #7C9D96;
}
