<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bruno Sartini, Pasqual Valentina">
    <title>LODEdo artwork {{artworkID}}</title>
    <!-- style and icons -->
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- analytics and cookies -->
    <script src="../assets/js/stats.js"></script>
    <script src="../assets/js/matomo.js"></script>
    <script src="https://www.unibo.it/++resource++unibo.cookiebanner/unibo-cookies.min.js?v=20"></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-bolder" aria-current="page" href="#">LODEdo</a>
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" href="-../">Catalogue</a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link fw-bold" href="../assets/contacts.html">Contacts</a>
              </li>
              <li class="nav-item">
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- MAIN SECTION -->
    <div class="m-md-5 p-md-5">
      <div class="row">
        <div class="col-md-4">
          <img src="{{artwork_factual_result[0].img_src}}" style="width:100%;height:auto">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="factual-metadata">
            <h3 class="fw-bold">Factual metadata about this item</h3>
            <p class="fw-bold">Title: {{artwork_factual_result[0].title}}</p>
            <p class="fw-bold">Date: {{artwork_factual_result[0].date}}</p>
          </div>
          <div class="scholars-ints mt-5 pt-5">
            <h3 class="fw-bold">
              <span class="badge bg-warning text-dark">{{scholars_ints|length}}</span> available scholarly interpretations for this item
            </h3>
            <h6 class="fw-bold">Discover the interpretations of this artwork by different scholars and institutions</h6>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3"> {% for int,author in scholars_ints.items() %} <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{author}}</h5>
                    <p class="card-text">
                      <a href={{int}} class="btn-outline-dark float-end d-1">>></a>
                    </p>
                  </div>
                </div>
              </div> {% endfor %} </div>
          </div>
        </div>
      </div>

      <div class="auto-ints pt-5 mt-5">
        <div class="row">
          <div class="col-md-3 yellow-back">
            <h3 class="fw-bolder">
              <span class="badge bg-warning text-dark">{{preico_interpretations|length}}</span>
              Artistic motifs recognized by scholars for this artwork
            </h3>
          </div>
          <div class="col-md-9">
            <h6 class="fw-bolder">Discover the symbolic meaning of the artwork in different cultures</h6>
              {% for tup in preico_interpretations %}
                {% if tup[1] == None %}
                  <button class="btn-outline-disabled d-1-disabled preico-filter">{{tup[0]}}</button>
                {% else %}
                  <button class="btn-outline-dark d-1 preico-filter" data-filter-uri="{{ tup[1] }}">{{tup[0]}}</button>
                {% endif %}
              {% endfor %}
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
          <h3 class="fw-bolder">Automatically generated interpretations available from <span class="badge bg-warning text-dark">{{auto_ints|length}}</span> contexts for this artwork </h3>
            {% for int,context in auto_ints.items() %}
              <div class="col symbol-interpretations">
                <div class="card symbol-interpretation card-enabled" data-catalog-uris="{{ context[2] }}">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{context[0]}} context</h5>
                      {% if context[1] == 1 %}
                        <p>
                          <span class="badge bg-warning text-dark">{{context[1]}}</span> artistic motif recognized for this artwork
                        </p>
                        {%else%}
                        <p>
                          <span class="badge bg-warning text-dark">{{context[1]}}</span> artistic motifs recognized for this artwork
                        </p>
                      {% endif %}
                      <p class="card-text">
                        <a href={{int|replace('conj-', '')}} class="btn-outline-dark float-end d-1">>></a>
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

    <footer class="row text-center bg-dark">
      <div class="col-12 fw-bold text-white p-3">
      Copyright &copy;2023 Bruno Sartini, Valentina Pasqual | <a href="../sparql">SPARQL Endpoint</a> | <a href="../assets/contacts.html">Contancts</a> | <img alt="Licenza Creative Commons" style="border-width:0; max-height: 5rem;" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png">
      </div>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="../assets/js/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-73SQ61K2RE"></script>

  </body>
</html>
